body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../images/code.jpeg');
    background-size: cover; /* This will make sure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    color: white;
}

.header {
    background: rgba(255, 255, 255, 0.2);/* Adjust the path as needed */
    background-position: center;
    text-align: center;
    color: white;
    padding: 60px 20px;
    position: relative;
}

.header h2 {
    margin: 0;
    font-size: 3em;
}

.leftcolumn {
    padding: 20px;
}

.card {
    background: #f9f9f9;
    padding: 50px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}
